.text-card {
    position: relative;

    width: 100%;
    background: white;
    font-family: $lato-font;

    //margin: 2rem auto;
    padding: 3.75rem;

    border-radius: .25rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 12px;

    header {
        border-bottom: $more-card-color 1px solid;

        padding-bottom: .25rem;
        margin-bottom: .75rem;

        .title-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .title {
                font-size: 2.3rem;
                flex: 2 0px;
            }

            &:hover {
                .title-edit-button {
                    display: initial;
                }
            }
        }

        .date {
            font-size: .9rem;
        }
    }

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .content {
            font-size: 1.2rem;
            font-weight: 300;
            flex: 2 0px;
        }
        
        &:hover {
            .content-edit-button {
                display: initial;
            }
        }
    }

    .side-buttons {
        position: absolute;
        top: 0;
        left: 102%;

        display: none;

        button {
            background: none;
            border: none;
            font-size: 1.3rem;
            margin: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &.editable {
        .operations-container {
            [class$="-save-button"],
            [class$="-edit-button"] {
                background: transparent;
                font-size: 1.1rem;
                border: none;
                display: none;
                margin: 0 .1rem;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .side-buttons {
            display: initial;
        }
    }
}